<%= form_with(model: request, local: true) do |form| %>
  <% if request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(request.errors.count, "error") %> prohibited this request from being saved:</h2>

      <ul>
      <% request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :request_title %>
  </div>

  <div class="field">
    <%= form.label :contents %>
    <%= form.text_area :contents, id: :request_contents %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.check_box :status, id: :request_status %>
  </div>

  <div class="field">
    <%= form.label :charge %>
    <%= form.number_field :charge, id: :request_charge %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
