    <table id="MainTable" style="margin: 0px; margin-top: 20px;">
      <thead>
        <tr>
          <th>title</th>
          <!-- <th>Status</th> -->
          <th>예상 부담 비용</th>
          <th>현재 유저수</th>
          <th>메모</th>
          <th></th>
          <!-- <th>edit</th>
          <th>destroy</th> -->
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @requests.each do |request| %>
          <tr>
            <td><%= request.title %></td>
            <!-- <td><%= request.status %></td> -->
            <td><%= request.charge %></td>
            <td><%= request.users.count %></td>
            <td><%= request.contents %></td>
            <td><%= link_to '보기', request %></td>
            <!-- <td><% link_to 'Edit', edit_request_path(request) %></td>
            <td><% link_to 'Destroy', request, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
          </tr>
        <% end %>
      </tbody>
    </table>
<script type="text/javascript">
  $(document).ready(function(){
      $('#MainTable').DataTable(
        {
          "searching": false,
          "lengthChange": false,
          "info": false,

        }
      );
  });
</script>
